:root {
    --orange-color: #FC8A06;
    --green-color: #028643;
    --dark-color: #03081F;
    --white-color: #FFFFFF;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .info-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid grey; */
        border-radius: 0 0 10px 10px;
        background: rgba(0, 0, 0, 0.034);
        padding-left: 1rem;
        overflow: hidden;

        .left {
            p {
                display: flex;
                align-items: center;

                img {
                    margin-right: 1.5rem;
                }

                span {
                    font-weight: bold;
                    color: var(--orange-color);
                    text-decoration: underline;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 2rem;

            p {
                display: flex;

                span {
                    margin-right: .5rem;
                }
            }

            .stats {
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--green-color);
                color: var(--white-color);
                /* border-bottom-right-radius: 10px; */
                border-bottom-left-radius: 10px;
                
                .stat {
                    padding: .1rem 1rem;
                }
            }
        }
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        margin-top: 2rem;

        .menu {
            display: flex;

            li {
                padding: .5rem 1rem;
                
                &:hover  {
                    background: var(--orange-color);
                    border-radius: 45px;

                    a {
                        color: var(--white-color);
                    }
                }

                a {
                    color: #000000;
                }
                
                
            }

            .menuButton {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    background: transparent;
                    border: none;
                    padding: 0 1rem;
                }
            }

            .active {
                background: var(--orange-color);
                border-radius: 45px;

                a {
                    color: var(--white-color);
                }
            }
        }
    }
}