* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-color);
    font-family: poppins;
}

@font-face {
    font-family: poppins;
    src: url(/src/assets/fonts/Poppins-Regular.ttf);
}

:root {
    --orange-color: #FC8A06;
    --green-color: #028643;
    --dark-color: #03081F;
    --white-color: #FFFFFF;
}

.app {
    width: 85%;
    margin: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}